body, h1, h2, h3, ul, li, blockquote, p {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Vollkorn", Georgia, serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Grid geral */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
    'header header header'
    'sidenav content anuncios'
    'footer footer footer'
  ;
}

/* Header */
.header {
  grid-area: header;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  background: linear-gradient(135deg, #8844EE, #B07DFB);
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  transition: .2s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, .5);
}

.logo {
  max-width: 200px;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.anuncios {
  grid-area: anuncios;
}

.footer {
  grid-area: footer;
}
